<div style="display: inline-block;">
    <canvas id="canvas" width="450" height="450" style="border-style: dashed;"></canvas>
    <br>
    <div style="width: 450px;" layout="row" layout-align="center center">
        <md-input-container md-no-float class="md-block" style="padding-bottom: 0px;">
            <input type="text" id="urlImage" ng-model="image.url" style="width: 333px;" placeholder="Enter image url and than hit the refresh button">
        </md-input-container>
        <md-button class="md-fab md-mini" id="mdButtonRefresh" ng-click="refreshUrl()" aria-label="Refresh image url">
            <md-icon md-svg-src="images/svg/autorenew.svg"></md-icon>
        </md-button>
        <input type="file" accept="image/*" id="imageUpload" style="display: none;" onchange="angular.element(this).scope().showPreview()">
        <md-button class="md-fab md-mini" id="mdButtonImage" ng-click="toggleFile()" aria-label="Add Photo">
            <md-icon md-svg-src="images/svg/add_a_photo.svg"></md-icon>
        </md-button>
    </div>
    <br>
    <div>
        <table ng-if="!foundUsers.error" style="direction: rtl; width: 350px;">
            <tr ng-repeat="user in foundUsers track by $index">
                <td>
                    <a href="{{user.photo}}" target="_blank">
                        <img ng-src={{user.photo}} width="100" height="100">
                    </a>
                </td>
                <td>
                    <h3>{{user.name}}</h3>
                </td>
                <td>
                    <a href="{{'https://www.facebook.com/' + user.userId}}" target="_blank">
                        <img src="../favicon.ico" width="20" height="20">
                    </a>
                </td>
            </tr>
        </table>
        <div style="color: red;">
            <span ng-if="foundUsers.error || foundUsers.length==0">
                * לא נמצאו משתמשים
            </span>
            <span ng-if="faces && faces.length==0">
                * לא נמצאו פרצופים (אולי התמונה לא ברורה או מטושטשת באזור הפנים)
            </span>
        </div>
    </div>
</div>